{% extends "panel/layout" %}

{% block content %}
    <p>Lorem Ipsum</p>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        jsloader.onLoad('core', function () {
            "use strict";
        });
    </script>
{% endblock %}