<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}My Panel{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% csrf_meta_tags %}
    {{ 'panel/theme'|stylesheet_link_tag }}
    {{ 'webui/engine/js/loader.min'|javascript_include_tag }}
    {{ 'startapp'|javascript_include_tag }}
</head>
<body{% block body_attributes %}{% endblock %}>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
    <script type="text/javascript">jsloader.init();</script>
</body>
</html>
